
html, body,main{
  background-color: #FFFF;
  height: 100vh;
  margin: 0;
  padding: 0px;
  font-family: Poppins !important;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}




/* .listing-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


/* .listing-items{
  cursor: pointer;
} */

/* 
.image-over{
  position: relative;
  margin: auto;
} */

/* .listing-items:hover .overlay-text{
  transition: 300ms ease-in-out;
  opacity: 0;
}
.listing-items:hover .card-img-top{
  transition: 300ms ease-in-out;
  opacity: 0;
}
 */


/* .listing-items:hover .listing-desc{
  transition: 300ms ease-in-out;
  opacity: 1;
}


.listing-desc{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
} */



/* .overlay-text {

  top: 0;
  left: 0;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.534) 0%, rgba(247,247,247,0) 95%);
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
} */









.BentoBox{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  /* max-width: 916px; */
  max-width: 100%;
  margin: auto;
  margin-bottom: 30px;
  filter: drop-shadow(4px 4px 8px #000);
  background-color: #3f3e44;
  padding: 20px;
  border-radius: 0px;
  padding-left: 0;
  padding-right: 0 ;
  
}

.box{
  
  background: linear-gradient(0deg, rgba(187, 48, 48, 0.128) 2%, rgb(255 0 26) 100%);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  min-height: 150px;
  filter: drop-shadow(4px 4px 8px #000);
}

.box-1{
  grid-row: span 3 / span 3;
}
.box-2{
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
}
.box-3{
  grid-row: span 5 / span 5;
  grid-column-start: 5;
}
.box-4{
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}
.box-5{
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;
}



.box:hover::before{
  opacity: 1;
}

.box:hover::before > .box-border {
  
  opacity: 1;
}



.bentoButton{
  opacity: 0;
  position: absolute;
  bottom: 0;  
  right: 0;
  transition: 0.5s ease-in;
}


.box:hover .bentoButton{
  opacity: 1;
}


.box::before{
  z-index: 3;
  width: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  opacity: 0%;
  transition: 500ms;
  height: 100%;
  content: "";
  border-radius: inherit;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(65, 53, 197, 0.623), transparent 40%);
}



.box > .box-content {
  border-radius: inherit;
  height: calc(100%);
  width: calc(100%);
  z-index: 2;
  position: relative;
  object-fit: fill;
  
}


.card-img-top{
  max-width: 200px;
  margin: auto;  
  transition: 300ms ease-in-out;
}

.bento-img{
  width:100%;
  height:100%;
  object-fit:cover;
  position: absolute;
  z-index: 0;
  filter: opacity(0.5);
  border-radius: inherit;
}


.box-text{
  z-index: 2;
  position: absolute;
}

.card-text{
  max-width: 250px;
}

/*------------------------[ Component: NavBar ]------------------------*/

header{
  position: absolute;
  width: 100%;
  padding-top: 20px;
  z-index: 10;
}
.navbar-container{
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.navbar-container, .navbar-container > ul, .navbar-container > div, .navbar-container > a{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.navbar-container > a{
  gap: 10px;
}
.navbar-container > a > h1{
  font-size: 32px;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 800;
  color: #383838;
}
.navbar-container > a > h1:hover{
  text-decoration: none !important;
}

.navbar-container > ul{
  gap: 30px;
  font-weight: 700;
  margin: 0;
}
.navbar-container > ul > li > a{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.navbar-container > ul > li > .activeLink{
  color: #FF750B;
}

.navbar-container > ul > li > a > p{
  margin: 0 10px 0 0;
}

.navbar-container > form{
  display: flex;
  flex-direction: row;
}
.navbar-container > form > input{
  width: 300px;
  border: none;
  box-shadow: none;
}
.navbar-container > form > button{
  position: relative;
  transform: translateX(-10px);
  background-color: #383838;
  border: none;
  border-radius: 5px;
  width: 70px;
}

.navbar-container > div > button{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  font-weight: 600;
  gap: 5px;
}
.navbar-container > div{
  display: flex;
  gap: 10px;
}
.navbar-container > div > button > p{
  margin: 0;
}


/*------------------------[ Component: Welcome Page ]------------------------*/

.welcome-page-container{
  position: relative;
  background-color: #ffe7dd;
  height: 100vh;
  width: 100vw;
}

.welcome-page-info > h2{
  letter-spacing: -1px;
  font-size: 52px;
  font-weight: 200;
  line-height: 140%;
}

.welcome-page-info > h5{
  font-weight: 800;
}

.welcome-page-info{
  position: relative;
  padding: 180px 10%;
}

.vertical-bar{
  position: absolute;
  height: 52px;
  width: 4px;
  border-radius: 5px;
  background-color: black; 
  transform: translateX(-15px) translateY(-5px);
}

.horizontal-bar{
  position: absolute;
  border-radius: 5px;
  height: 3px;
  width: 39px;
}
.bar-black{
  background-color: #000;
}
.bar-grey{
  background-color: #545454;
}

.shopNowButton{
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  background-color: #FF750B;
  border-radius: 3px;
  padding: 7px 20px;
  gap: 10px;
}
.shopNowButton > p{
  color: white;
  margin: 0;
}

.dealSub{
  color: #545454;
}

.countdownTimer{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}

.countdownTimer > span{
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 200;
  gap: 20px;
  align-items: flex-end;
}

.countdownTimer > span > h6{
  
  font-weight: 200;
  margin: 0;
}

#timerD{
  font-size: 115px;
  width: 110px;
}
#timerH{
  font-size: 64px;
  width: 60px;
}
#timerM{
  font-size: 45px;
  width: 40px;
}
#timerS{
  font-size: 35px;
  width: 30px;
}

.countdownTimer > span > p{
  font-size: 23px;
  margin: 0;
}


.welcome-page-container > .welcomeImage{
  position: absolute;
  right: 0;
  top: 45px;
  width: 52vw;
  z-index: 0;
}

.backToTopButton{
  position: absolute;
  right: 50px;
  bottom: 70px;
  transition: transform 300ms, box-shadow 300ms;
  z-index: 100;
}

.backToTopButton:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 0 white;
}


/*------------------------[ Component: Product Categories ]------------------------*/

#productCategories-container{
  padding: 100px 10%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.productCategories-info{
  position: relative;
}

.productCategories-info > h2{
  font-size: 23px;
  font-weight: 800;
  color: #4E4E4E;
}

.productCategories-info > div{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.productCategories-info > div > img{
  transform: translateX(-5px);
}
.productCategories-info > div > p{
  color: #8C8C8C;
  margin: 0;
}

.productCategories-info > a > h5{
  color: black;
  font-weight: 800;
}

.productCategories-info > .bar-black{
  width: 104px;
  background-color: black;
}

.bar-orange{
  margin-top: 5px;
  background-color: #FF750B;
}

.productCategories-category{
  display: flex;
}

.productCategories-category > div{
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
  height: 251px;
  width: 251px;
  border-radius: 5px;
  margin-left: auto;
  padding: 20px;
  transition: outline 300ms;
  cursor: pointer;
  outline: 0px solid #ffffff;
}

.productCategories-category > div:hover{
  outline: 4px solid #cbcbcb;
}

.productCategories-category > div > img{
  margin: auto;
  width: 164px;
}
.productCategories-category > div > h5{
  padding-top: 20px;
  font-weight: 600;
  font-size: 12px;
  color: #4E4E4E;
}


/*------------------------[ Component: Deals Section ]------------------------*/

.deals-section-container{
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.office-deal{
  width: 100%;
  background-image: url("assets/Office.jpg");
  background-size: cover;
  height: 285px;
  border-radius: 10px;
}
.kitchen-deal{
  background-image: url("assets/Kitchen.jpg");
  width: 100%;
  height: 285px;
  background-size: cover;
  border-radius: 10px;
}

.office-deal > div, .kitchen-deal > div{
  display: flex;
  margin: 40px;
  height: 216px;
  outline: 4px solid rgba(255, 255, 255, 0.8);
}
.office-deal > div > div, .kitchen-deal > div > div{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.office-deal > div > div > p, .kitchen-deal > div > div > p{
  margin: auto;
  color: white;
  font-weight: 600;
}
.office-deal > div > div > h4, .kitchen-deal > div > div > h4{
  color: white;
  font-size: 44px;
}
.office-deal > div > div > a, .kitchen-deal > div > div > a{
  margin: auto;
  background-color: #FF750B;
  border-radius: 40px;
  color: white;
  padding: 8px 20px;
}


/*------------------------[ Component: Product Collection ]------------------------*/

#product-collection-container{
  position: relative;
  padding: 100px 10%;
}

.product-collection-menu{
 position: relative; 
}

.product-collection-menu > h2{
  margin: 0;
  font-size: 23px;
  font-weight: 800;
  color: #4E4E4E;
}

.product-collection-filter{
  display: flex;
}

.product-collection-filter > ul{
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}
.product-collection-filter > ul > li > button, .product-collection-filter > ul > li{
  font-size: 12px;
  color: #828282;
  font-weight: 600;
  background-color: #ffffff00;
  border: none;
}

.product-collection-filter > ul > li > button:hover{
  text-decoration: underline;
}

.filter-active{
  text-decoration: underline;
  color: black !important;
}

#product-collection-listings{
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.product-collection-product-listing{
  cursor: pointer;
  margin-top: 80px;
  height: 300px;
  width: 253px;
  border-radius: 5px;
  transition: outline 200ms ease-in-out;
}

.image-over img{
  height: 200px;
  display: flex;
  object-fit: contain;
}

.image-over{
  outline: 3px solid #F1F1F1;
  border-radius: 5px;
  transition: outline 200ms ease-in-out;
}

.product-collection-product-listing:hover .image-over{
  outline: 4px solid #cbcbcb;
}

.card-img-top{
  margin: auto;
}

.overlay-text{
  padding-top: 20px;
}

.star-rating {
  display: flex;
  flex-direction: row;
  height: 18px; 
  gap: 10px;
}

.star-rating > p{
  color: #8C8C8C;
  font-size: 13px;
}

.overlay-text > h5{
  font-weight: 600;
  color: black;
  font-size: 15px;
}

.overlay-text > p{
  color: #828282;
  font-size: 13px;
}


/*------------------------[ Media Queries ]------------------------*/

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }
  
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
      max-width: 720px;
  }


}

  @media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
}

@media (max-width: 500px) {
  .product-list{
    grid-template-columns: repeat(2, 1fr);
  }

  .card-text{
    display: none;
  }
  
}